<app-header></app-header>
<div>
  @if(this.list.length==0) {
  <h1>there isn't lessons in this course😑</h1>
  } @for (item of this.list; track item.id) {
  <div class="lesson-details">
    <div><strong>ID:</strong> {{ item.id }}</div>
    <div><strong>Title:</strong> {{ item.title }}</div>
    <div><strong>Content:</strong> {{ item.content }}</div>
    <div><strong>Course ID:</strong> {{ item.courseId }}</div>
  </div>
  <div class="edit-lesson">
    @if(canChange()) {
    <button class="edit-btn" appHoverShadow (click)="edit(item.courseId, item.id)">
      Edit
    </button>
    <button class="edit-btn" appHoverShadow (click)="delete(item.courseId, item.id)">
      Delete
    </button>
    }
  </div>

  @if(currentIdForEdit==item.id) {

  <app-edit-lesson
    [currentLesson]="item"
    (newLesson)="save($event)"
  ></app-edit-lesson>

  } }
  {{ messesge }}
</div>
