<app-header></app-header>
<div class="edit-course-form">
  <div appearance="outline" class="form-field">
    <mat-label>Title</mat-label>
    <input #title type="text" />
  </div>

  <div appearance="outline" class="form-field">
    <mat-label>Description</mat-label>
    <input #description type="text" />
  </div>

  <button
    mat-raised-button
    color="primary"
    class="save-btn"
    (click)="AddCourse(title.value, description.value)"
  >
    AddCourse
  </button>
  {{ messege }}
</div>
