<app-header></app-header>
<div class="edit-course-form">
    <div appearance="outline" class="form-field">
      <mat-label>Title</mat-label>
      <input #title type="text" />
    </div>
  
    <div appearance="outline" class="form-field">
      <mat-label>content</mat-label>
      <input #content type="text"  />
    </div>

  
    <button
      mat-raised-button
      color="primary"
      class="save-btn"
      (click)="AddLesson(title.value, content.value)"
    >
      AddLesson
    </button>
    {{messege}}
  </div>
  
